Checks: '-*,bugprone-*,performance-*'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file

Checks: "-*,readability-identifier-naming"
CheckOptions:
  # Options for static (or all) functions
  readability-identifier-naming.FunctionCase: lower_case
  readability-identifier-naming.FunctionPrefix: 'static_'
  # Options for extern funtions
  readability-identifier-naming.GlobalFunctionCase: CamelCase
  readability-identifier-naming.GlobalFunctionPrefix: 'extern_'
